<h1>Asceso</h1>

<div class="find">
  <h3>Find a Doctor</h3>

  <form id="search">
    <input type="search" placeholder="Search Name and Specialty" id="doctor-search" ng-model= search>
    <!-- <input type="search" placeholder="specialty" ng-model="vm.searchSpecialty">
    <button type = "button" class="button">Submit</button> -->
  </form>
  <select id="doctor-select">
    <option value="">Select a doctor</option>
      <option data-ui-sref="doctorShow({id: doctor.$id})" ng-repeat="doctor in vm.doctors | filter: search ">{{doctor.name}},{{doctor.specialty}}</option>
  </select>
