<img data-ng-src="{{vm.doctor.img_url}}">
<p>NAME: {{vm.doctor.name}}</p>
<p>SPECIALTY: {{vm.doctor.specialty}}</p>
<p>PRACTICE: {{vm.doctor.practice}}</p>
<p>EDUCATION: {{vm.doctor.education}}</p>

<h2>Reviews</h2>


<form>
  <input placeholder="Name" data-ng-model="vm.review.name">
  <input placeholder="Body" data-ng-model="vm.review.body">
 <button type="button" data-ng-click="vm.create()">Submit a Review</button>
</form>
<div class="user-review">
<p> Name: {{vm.review.name}} </p>
<p> Review: {{vm.review.body}} </p>
</div>
<div data-ng-repeat="review in vm.reviews">
  {{review.name}}
</div>
